{% extends "layout/user_guide_base2.html" %} {% block content %}

<div class="thebody" id="div1">
    <!-- DEMO STYLES -->
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="row">
                <div class="col">
                    <h4
                        style="font-family: 楷体;margin-bottom: 0px;margin-top: 0px;color:blue;line-height:1.45;">
                        <strong>水域大气近地层风速廓线</strong>
                    </h4>
                </div>
                <div class="col" align="right">
                    <a href="/windspeed.html" class="btn btn-secondary"
                        style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>计算页面</strong></a>
                    <a href="#" class="btn btn-secondary"
                        style="font-family: 楷体; background-color: rgb(233, 236, 239);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>技术指南</strong></a>
                    <a href="/windspeedupdate.html" class="btn btn-secondary"
                        style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>更新记录</strong></a>
                </div>
            </div>
            <div class="card-header" align="right"
                style="height:24px;padding: 0rem;background-color:rgb(233, 236, 239) ;">
                <span
                    style="font-size:12px;font-family:'Times New Roman',楷体;margin-top:0px;margin-bottom: 0px;">
                    当前“技术指南”版本：202309，最后更新于2023.09
                </span>
            </div>
            <br />
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288本计算程序根据已知风速和气温数据构建水域大气近地层风速廓线。
            </p>
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288本计算程序的核心框架是两种大气近地层风速廓线模型(KEYPS和B-D)及大气边界层阻力定律。关于这两种模型和大气边界层阻力定律的基本知识，详见李怡(2023)中的第一章。本计算程序采用李怡
                (2023)第一章中的计算方法、原则及经验系数，尤其是其中的第1.3节。
            </p>
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288出于比较目的，本计算程序也按以下四个规范和手册的方法，推算水面以上10 m处的风速
                (<i>U</i><sub>10</sub>)，即很多工程问题中的标准风速：
            </p>
            <div style="margin-bottom: 0px; margin-top: 0px;margin-left: 15px;">
                <ul style="margin-top: 0px;margin-bottom: 0px;">
                    <li style="font-family: 'Times New Roman',楷体;">
                        《港口与航道水文规范》(JTS 145-2015) (交通运输部 2015)
                    </li>
                    <li style="font-family: 'Times New Roman',楷体;">Shore
                        Protection Manual (USACE 1984)
                    </li>
                    <li style="font-family: 'Times New Roman',楷体;">Coastal
                        Engineering Manual (USACE 2015)
                    </li>
                    <li style="font-family: 'Times New Roman',楷体;">API RP 2A-WSD
                        (API 2014)
                    </li>
                </ul>
            </div>
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288原则上，Shore Protection Manual (SPM) 已被Coastal
                Engineering Manual
                (CEM)替代。对于风速推算，二者采用的方法和系数有所区别，但也一定的联系。为方便比较，在此将SPM的结果一并列出。
            </p>
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288本计算所采用的方法、原则及经验系数主要针对海岸工程、海洋工程和水利工程等领域的应用；它们可能也适用于其它相关领域，但读者需要判别适用性，并正确解读、应用其计算结果。
            </p>
            <p
                style="font-family: 'Times New Roman',楷体;margin-top: 0px;margin-bottom: 0px">
                &#12288&#12288滨水工采用Python 3.9.0 (van Rossum等 2022)开发本计算程序。
            </p>
            <br />
            <h3
                style="margin-bottom: 0px;font-family:'Times New Roman',楷体;font-size: 18px;font-weight:bold">
                参考文献</h3>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman">API (2014)
                    <i>API RP 2A-WSD: Planning, Designing, and Constructing
                        Fixed Offshore Platforms - Working Stress Design (22
                        Edition).</i>
                </span>
            </p>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman,楷体">交通运输部 (2015)
                    <i>港口与航道水文规范 (JTS 145-2015).&#8194</i>人民交通出版社。
                </span>
            </p>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman,楷体">李怡 (2023)
                    <i>海岸及水道工程专题 第1卷（第1版）.&#8194</i>中国出版社。
                </span>
            </p>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman">USACE (1984)
                    <i> Shore Protection Manual: Volume I</i>
                </span>
            </p>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman">USACE (2015)
                    <i> Coastal Engineering Manual: Part II (Coastal
                        Hydrodynamics)</i>
                </span>
            </p>
            <p style="margin-top: 0px;margin-bottom: 15px;line-height: 1.0;">
                <span style="font-family: Times New Roman">van Rossum, G., and
                    the Python Development Team (2022)
                    <i> The Python Language Reference (Release
                        3.9.13),</i>Python Software Foundation
                    (http://www.python.org)

                </span>
            </p>
        </div>
    </div>
    {% endblock %}