<input type="hidden" id="o1_temp" name="o1_temp" value="test">
<label for="水域" class="form-label"
    style="font-size:14px;margin-left:6px;margin-bottom:0px;">水域</label>
<div class="form-check form-check-inline" style="margin-left: 108px;">
    <input class="form-check-input" type="radio" id="inlineRadio1" name="o1"
        value="1">
    <label class="form-check-label" for="inlineRadio1"
        style="font-size:14px;">开敞海域；上风向开阔、无掩护的海岸水域</label>
</div>
<br />
<div class="form-check form-check-inline" style="margin-left: 148px;">
    <input class="form-check-input" type="radio" id="inlineRadio1" name="o1"
        value="2">
    <label class="form-check-label" for="inlineRadio2"
        style="font-size:14px;">相对封闭的海岸水域（港湾、河口）</label>
</div>
<br />
<div class="form-check form-check-inline" style="margin-left: 148px;">
    <input class="form-check-input" type="radio" id="inlineRadio1" name="o1"
        value="3">
    <label class="form-check-label" for="inlineRadio2"
        style="font-size:14px;">水库/湖泊/内河</label>
</div>